#root {
  width: 100%;
  margin: 0;
}
* {
  margin: 0;
}
.home {
  width: 100%;
  height: 100vh;
  margin: 0;
  top: 0;
  padding: 0;
  text-align: center;
  background-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

